{% extends "mytests/base.html" %}

{% block content %}
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-3">
                <input type="text" name="brand" class="form-control" placeholder="Tape car brand ">
            </div>
            <div class="col-3">
                <input type="text" name="model" class="form-control" placeholder="Tape car model">
            </div>
            <div class="col-3">
                <input type="text" name="year" class="form-control" placeholder="Tape car year">
            </div>

            <div class="col-3">
                <input type="submit" class="form-control" value="Save">
            </div>
        </div> 
    </form>

{% endblock content %}