<header class="header">
    <div class="container navbar">
        <a href="{% url 'blog:index' %}" class="logo">enbee <span>Blog</span></a>
        <nav id="nav">
            <a href="{% url 'pages:index' %}">enbee</a>
            <a class="active" href="{% url 'blog:index' %}">Accueil</a>
            <a href="{% url 'blog:posts' %}">Articles</a>
            <a href="{% url 'blog:tutorials' %}">Tutoriels</a>
            <a href="{% url 'blog:categories' %}">Catégories</a>
            <a href="{% url 'blog:about' %}">À propos</a>
        </nav>
        <div class="header-actions">
            <button id="themeBtn" class="icon-btn">🌙</button>
            <button id="menuBtn" class="icon-btn menu-btn">☰</button>
        </div>
    </div>
</header>