{% extends 'blog/base.html' %}
{% block title %} Catégories {% endblock title %}

{% block content %}

<main>
    
<section class="page-header">

    <div class="container">

        <span class="label">
            EXPLORER
        </span>

        <h1>
            Catégories
        </h1>

        <p>
            Explorez les différents domaines
            de la technologie.
        </p>

    </div>

</section>


<section class="section">

    <div class="container">

        <div class="category-grid">

            <a href="articles.html"
               class="category-box">

                <span>💻</span>

                <h3>
                    Programmation
                </h3>

                <p>
                    JavaScript, Python, Git...
                </p>

            </a>


            <a href="articles.html"
               class="category-box">

                <span>🌐</span>

                <h3>
                    Développement Web
                </h3>

                <p>
                    HTML, CSS, JavaScript...
                </p>

            </a>


            <a href="articles.html"
               class="category-box">

                <span>🐧</span>

                <h3>
                    Linux
                </h3>

                <p>
                    Ubuntu, terminal, serveur...
                </p>

            </a>


            <a href="articles.html"
               class="category-box">

                <span>🔐</span>

                <h3>
                    Cybersécurité
                </h3>

                <p>
                    Sécurité, protection, bonnes pratiques...
                </p>

            </a>


            <a href="articles.html"
               class="category-box">

                <span>⚙️</span>

                <h3>
                    DevOps
                </h3>

                <p>
                    Git, serveurs, déploiement...
                </p>

            </a>


            <a href="articles.html"
               class="category-box">

                <span>🖥️</span>

                <h3>
                    Systèmes
                </h3>

                <p>
                    Windows, Linux et administration.
                </p>

            </a>

        </div>

    </div>

</section>

</main>

{% endblock content %}