<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Commandes Linux — TechBlog</title>

    <link rel="stylesheet"
          href="../css/style.css">

</head>

<body>

<header class="header">

    <div class="container navbar">

        <a href="../index.html"
           class="logo">
            Tech<span>Blog</span>
        </a>

        <nav id="nav">

            <a href="../index.html">Accueil</a>
            <a class="active" href="../articles.html">Articles</a>
            <a href="../tutoriels.html">Tutoriels</a>
            <a href="../categories.html">Catégories</a>
            <a href="../a-propos.html">À propos</a>

        </nav>

        <div class="header-actions">

            <button id="themeBtn"
                    class="icon-btn">
                🌙
            </button>

            <button id="menuBtn"
                    class="icon-btn menu-btn">
                ☰
            </button>

        </div>

    </div>

</header>


<main>

<article class="single-article">

<div class="container">

<div class="article-header">

<span class="category">
LINUX
</span>

<h1>
10 commandes Linux indispensables
</h1>

<p>
Les commandes essentielles à connaître
pour commencer avec le terminal Linux.
</p>

<small>
6 août 2026 · 6 min de lecture
</small>

</div>


<div class="article-body">

<h2>
Pourquoi utiliser le terminal ?
</h2>

<p>
Le terminal permet d'administrer un système
Linux rapidement grâce aux commandes.
</p>


<h2>
1. pwd
</h2>

<p>
Affiche le dossier dans lequel vous vous trouvez.
</p>

<pre><code>pwd</code></pre>


<h2>
2. ls
</h2>

<p>
Affiche les fichiers et dossiers.
</p>

<pre><code>ls</code></pre>


<h2>
3. cd
</h2>

<p>
Permet de changer de dossier.
</p>

<pre><code>cd Documents</code></pre>


<h2>
4. mkdir
</h2>

<p>
Crée un nouveau dossier.
</p>

<pre><code>mkdir projet</code></pre>


<h2>
5. touch
</h2>

<p>
Crée un fichier vide.
</p>

<pre><code>touch index.html</code></pre>


<h2>
6. cp
</h2>

<p>
Copie un fichier.
</p>

<pre><code>cp fichier.txt sauvegarde.txt</code></pre>


<h2>
7. mv
</h2>

<p>
Déplace ou renomme un fichier.
</p>

<pre><code>mv ancien.txt nouveau.txt</code></pre>


<h2>
8. rm
</h2>

<p>
Supprime un fichier.
</p>

<pre><code>rm fichier.txt</code></pre>


<h2>
9. cat
</h2>

<p>
Affiche le contenu d'un fichier texte.
</p>

<pre><code>cat fichier.txt</code></pre>


<h2>
10. sudo
</h2>

<p>
Permet d'exécuter certaines commandes avec
des privilèges administrateur.
</p>

<pre><code>sudo apt update</code></pre>

</div>

</div>

</article>

</main>


<footer>

<div class="container footer-grid">

<div>
<a href="../index.html"
   class="logo">
Tech<span>Blog</span>
</a>

<p>
Tutoriels Linux et informatique.
</p>

</div>

</div>

<div class="copyright">
© 2026 TechBlog.
</div>

</footer>


<script src="../js/script.js"></script>

</body>
</html>