{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock title %}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700;800&family=IBM+Plex+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/blog-styles.css' %}">
</head>
<body>

{% include "blog/parts/navbar.html" %}

{% block content %}{% endblock content %}

{% include "blog/parts/footer.html" %}

  
<script src="{% static 'js/blog-script.js' %}"></script>
</body>
</html>
