{% load static %}
<nav id="nav">
    <div class="nav-inner">
        <div>
            <span><a href="{% url "index" %}"><img class="nb-logo" src="{% static "images/nb-header.png" %}" alt=""></a></span>
        </div>
        
        <div class="hamburger" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        
        <div class="menu">        
            <a href="{% url "index" %}#skills" data-lang="fr">Compétences</a>
            <a href="{% url "index" %}#carousel" data-lang="fr">Certifications</a>
            <a href="{% url "about" %}" data-lang="fr">À propos </a>
            
            <a href="{% url "index" %}#skills" data-lang="en" style="display:none">Skills</a>
            <a href="{% url "index" %}#carousel" data-lang="en" style="display:none">Certifications</a>
            <a href="{% url "about" %}" data-lang="en" style="display:none">About</a>
        </div>
    </div>
</nav>