{% load static %}
<nav id="nav">
    <div class="nav-inner">
        <div><span><a href="{% url 'pages:index' %}"><img class="nb-logo" src="{% static "images/nb-header.png" %}" alt=""></a></span></div>
        <div class="hamburger" onclick="toggleMenu()"><span></span><span></span><span></span></div>
        <div class="menu">       
            <a href="{% url 'pages:index' %}#skills"><span data-lang="fr">Compétences</span><span data-lang="en" style="display:none">Skills</span></a>
            <a href="{% url 'pages:index' %}#carousel"><span data-lang="fr">Certifications</span><span data-lang="en" style="display:none">Certifications</span></a>
            <a href="{% url 'pages:about' %}" ><span data-lang="fr">À propos</span><span data-lang="en" style="display:none">About</span></a>
            <a href="{% url 'blog:home' %}"><span data-lang="fr">Blog</span><span data-lang="en" style="display:none">Blog</span></a> 
        </div>
    </div>
</nav>